@import './common.css';
@import './variables.css';

body{
    font-family: 'Roboto', sans-serif;

}

.fa-bell{
    color: #ff8f00;
}

.gear{ margin-top: 31.25rem;

}

.logo-mobile{
    height: 2.0625rem;
    width: 1.875rem;
}

.top-bar{
    
    background-color: #1b72e8;
    width: 100vw;
}

.table th, .table td {
    border-left: none; 
    border-right: none; 
}